<div class="page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-7  "><h3>Assignment: <%= @assignment.title %></h3></div>
      <div class="col-md-offset-0 col-md-5"><h3><%= @assignment.lesson.course.name %></h3></div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Title</dt>
      <dd><%= @assignment.title %></dd>

      <dt>Assignments</dt>
      <dd>
        <p><a href="<%= @assignment.assignment_file %>"><%= @assignment.title %></a></p>
        <p><embed src="<%= @assignment.assignment_file %>" width="300px" height="400px" /></p>
        </dd>

        <dt>Lesson</dt>
        <dd>
          <%= @assignment.lesson.title %>
          ( <a href="/lessons/<%= @assignment.lesson.id %>">details</a>
          |
          <a href="<%= @assignment.lesson.lesson_file %>" target="_blank">lesson</a> )
        </dd>

        <dt>Course</dt>
        <dd><%= @assignment.lesson.course.name %></dd>

        <dt>Standards</dt>
        <% @assignment.lesson.standards.each do |standard| %>
        <dd><%= standard.standard_number %></dd>
        <% end %>

      </dl>

      <div class="btn-group btn-group-justified">
        <a href="/courses/<%= @assignment.lesson.course.id %>" class="btn btn-primary">
          Back to Course
        </a>
        <a href="/assignments/<%= @assignment.id %>/edit" class="btn btn-warning">
          Edit Assignment
        </a>
        <a href="/delete_assignment/<%= @assignment.id %>" class="btn btn-danger" rel="nofollow">
          Delete Assignment
        </a>
      </div>
    </div>
  </div>
