<div class="page-header">
  <div class="container">
    <div class="row">
      <div><h3>Assignment: <%= @assignment.title %></h3>
        <h5>Course: <%= @assignment.lesson.course.name %></h5>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-7">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><a href="<%= @assignment.assignment_file %>"><%= @assignment.title %></a></h3>
        </div>
        <div class="panel-body">
          <dl class="dl-horizontal">

            <dt>Assignment Preview</dt>
            <dd>
              <p><a href="<%= @assignment.assignment_file %>"><%= @assignment.title %></a></p>
              <p><embed src="<%= @assignment.assignment_file %>" width="300px" height="400px" ></embed></p>
            </dd>

            <dt>Lesson</dt>
            <dd>
              <%= @assignment.lesson.title %>
              ( <a href="/lessons/<%= @assignment.lesson.id %>">details</a>
              |
              <a href="<%= @assignment.lesson.lesson_file %>" target="_blank">lesson</a> )
            </dd>

            <dt>Course</dt>
            <dd><a href="/courses/<%= @assignment.course.id %>"><%= @assignment.lesson.course.name %></a></dd>



          </dl>

          <div class="btn-group btn-group-justified">
            <% if @assignment.course.user.id==current_user.id %>
            <a href="/assignments/<%= @assignment.id %>/edit" class="btn btn-warning">
              <i class="fa fa-wrench" aria-hidden="true"></i> Edit Assignment
            </a>
            <a href="/delete_assignment/<%= @assignment.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash" aria-hidden="true"></i> Delete Assignment
            </a>
            <% end %>
          </div>

        </div>
      </div>
    </div>
    <div class="col-sm-offset-0 col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Assignment Comments and Likes</h3>
        </div>
        <div class="panel-body">

          <div class="container">
            <% if current_user.liked_assignment_comments.ids.include? @assignment.id %>
            <a href="/delete_assignment_like/<%= @assignment.assignment_likes.find_by(:user_id => current_user.id).id %>" class="btn btn-link">
              <i class="fa fa-heart" aria-hidden="true"></i>
            </a>
            <% else %>
            <form action="/create_assignment_like" method="post">
              <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
              <input type="hidden" id="assignment_id" name="assignment_id" value="<%= @assignment.id %>">
              <input type="hidden" id="user_id" name="user_id" value="<%= current_user.id %>">
              <button class="btn btn-link" ><i class="fa fa-heart-o"></i></button>
            </form>
            <% end %>

            <% if @assignment.assignment_fans.count==0 %>
            <small class="text-muted">be the first to like this</small>
            <% elsif @assignment.assignment_fans.count==1 %>
            <small class="text-muted"><%= @assignment.assignment_fans.map{|f| f.username}.join(", ") %> liked this assignment</small>
            <% else %>
            <small class="text-muted"><%= @assignment.assignment_fans.map{|f| f.username}.join(", ") %> like this assignment</small>
            <% end %>
          </div>

          <p></p>
          <ul class="media-list">
            <% @assignment.assignment_comments.each do |comment| %>
            <li class="media">
              <div class="media-body">
                <h6 class="media-heading"><%= comment.user.username %></h6>
                <h6> <%= comment.body %> </h6>
              </div>
            </li>
            <% end %>
            <li class="media">
              <div class="media-body">
                <form action="/create_assignment_comment" method="post">
                  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
                  <input type="hidden" name="assignment_id" value="<%= @assignment.id %>">
                  <input type="hidden" name="user_id" value="<%= current_user.id %>">
                  <div class="form-group">
                    <div class="input-group">
                      <label for="body" class="sr-only">Body</label>
                      <input type="text" id="body" name="body" class="form-control" placeholder="Add a comment..." required>
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                          <i class="fa fa-commenting-o">
                          </i>
                        </button>
                      </span>
                    </div>
                  </div>
                </form>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="btn-group">
  <a href="/courses/<%= @assignment.lesson.course.id %>" class="btn btn-primary">
    <i class="fa fa-arrow-left" aria-hidden="true"></i> Back to <%= @assignment.lesson.course.name %>
  </a>
</div>
