<div class="page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-5"><h3>Lesson: <%= @lesson.title %></h3></div>
      <div class="col-md-offset-2 col-md-5"><h3><%= @lesson.course.name %></h3></div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Title</dt>
      <dd><%= @lesson.title %></dd>

      <dt>Lesson</dt>
      <dd><a href="<%= @lesson.lesson_file %>"><%= @lesson.title %></a></dd>

      <dt>Course</dt>
      <dd><%= @lesson.course.name %></dd>

      <dt>Assignments</dt>
      <% @lesson.assignments.each do |assignment| %>
      <dd>
        <%= assignment.title %>
          ( <a href="/assignments/<%= assignment.id %>">details</a>
          |
          <a href="<%= assignment.assignment_file %>" target="_blank">assignment</a> )
      </dd>
      <% end %>

      <dt>Standards</dt>
      <% @lesson.standards.each do |standard| %>
      <dd><%= standard.standard_number %></dd>
      <% end %>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/courses/<%= @lesson.course.id %>" class="btn btn-primary">
        Back
      </a>
      <a href="/lessons/<%= @lesson.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_lesson/<%= @lesson.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
