<div class="page-header">
  <h3>Lesson #<%= @lesson.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Title</dt>
      <dd><%= @lesson.title %></dd>

      <dt>File location</dt>
      <dd><%= @lesson.file_location %></dd>

      <dt>Course</dt>
      <dd><%= @lesson.course_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/lessons" class="btn btn-primary">
        Back
      </a>
      <a href="/lessons/<%= @lesson.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_lesson/<%= @lesson.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
