<div class="page-header">
  <img src="<%= @course.image_url %>" class="show-picture-size">
  <h3><%= @course.user.username %>'s Course: <%= @course.name %>
    <% if @course.user.id==current_user.id %>
    <a href="/lessons/new/<%= @course.id %>" class="btn btn-lg btn-success"><i class="fa fa-plus" aria-hidden="true"></i> Add Lesson</a></h3>
    <% else %>
    <% end %>
  </div>

  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped table-hover">
        <tr>
          <th>Lessons</th>
          <th>Assignments</th>
          <th>Lesson Standards</th>
          <th>Action</th>
        </tr>

        <% @course.lessons.each do |lesson| %>
        <tr>
          <td>
            <%= lesson.title %>
            (<a href="/lessons/<%= lesson.id %>">details</a>
            |
            <a href="<%= lesson.lesson_file %>" target="_blank">lesson</a>)
          </td>

          <td>
            <ul>
              <% lesson.assignments.each do |assignment| %>
              <li>
                <%= assignment.title %>(<a href="/assignments/<%= assignment.id %>">details</a> | <a href="<%= assignment.assignment_file %>" target="_blank">assignment</a>)
              </li>
              <% end %>
            </ul>
          </td>


          <td>
            <ul>
              <% lesson.standards.each do |standard| %>
              <li>
                <a href="/standards/<%= standard.id %>"><%= standard.standard_number %></a>
              </li>
              <% end %>
            </ul>
          </td>

          <% if current_user.id==lesson.course.user.id %>
          <td>
            <!-- Edit -->
            <a href="/lessons/<%= lesson.id %>/edit" class="btn btn-warning">
              <i class="fa fa-pencil fa-2x" aria-hidden="true"></i>
            </a>
            <!-- Delete -->
            <a href="/delete_lesson/<%= lesson.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash fa-2x" aria-hidden="true"></i>
            </a>
          </td>
          <% else %>
          <% end %>
        </tr>
        <% end %>

      </table>

      <% if @course.user.id == current_user.id %>
      <a href="/my_courses_index" class="btn btn-lg btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back to Courses</a>
      <% else %>
      <p><a href="/my_courses_index" class="btn btn-lg btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back to My Courses</a></p>
      <p><a href="/courses" class="btn btn-lg btn-danger"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back to All Courses</a></p>
      <% end %>

    </div>
  </div>
