<div class="page-header">
  <h3><img src="<%= @course.image_url %>"> <%= current_user.username %>'s <%= @course.name %> Course</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Lesson</th>
        <th>Assignment</th>
        <th>Standard</th>
        <th>Action</th>
      </tr>

      <% @course.lessons.each do |lesson| %>
      <tr>
        <td>
          <p><%= lesson.title %>
            ( <a href="/lessons/<%= lesson.id %>">details</a>
            |
            <a href="<%= lesson.lesson_file %>" target="_blank">lesson</a> )
          </p>
        </td>
        <% lesson.assignments.each do |assignment| %>
        <% if lesson.assignments.count==0 %>
        <td> </td>
        <% else %>
        <td>
          <p><%= assignment.title %>
            ( <a href="/assignments/<%= assignment.id %>">details</a>
            |
            <a href="<%= assignment.assignment_file %>" target="_blank">assignment</a> )
          </p>
        </td>
        <% end %>
        <% end %>
        <% lesson.standards.each do |standard| %>
        <% if lesson.standards.count==0 %>
        <td> </td>
        <% else %>
        <td><a href="/standards/<%= standard.id %>"><%= standard.id %></a></td>
        <% end %>
        <% end %>
        <td>
          <a href="/courses" class="btn btn-primary">
            Back
          </a>
          <a href="/courses/<%= @course.id %>/edit" class="btn btn-warning">
            Edit
          </a>
          <a href="/delete_course/<%= @course.id %>" class="btn btn-danger" rel="nofollow">
            Delete
          </a>
        </td>
      </tr>


    </div>
    <% end %>
  </table>
</div>
</div>
