<div class="page-header">
  <h3>Standard #<%= @standard.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Standard number</dt>
      <dd><%= @standard.standard_number %></dd>

      <dt>Standard Description</dt>
      <dd><%= @standard.description %></dd>

      <dt>Lessons with the Same Standard</dt>
      <% @standard.lessons.each do |lesson|%>
      <dd><a href="/lessons/<%= lesson.id %>" %><%= lesson.title %></a><a href="/courses/#{lesson.course.id}"> (Course: <%= lesson.course.name %>)</dd>
      <% end %>



    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/standards" class="btn btn-primary">
        <i class="fa fa-arrow-left" aria-hidden="true"></i> Back to Standards
      </a>
      <a href="/standards/<%= @standard.id %>/edit" class="btn btn-warning">
        <i class="fa fa-wrench" aria-hidden="true"></i> Edit Standard
      </a>
      <a href="/delete_standard/<%= @standard.id %>" class="btn btn-danger" rel="nofollow">
        <i class="fa fa-trash" aria-hidden="true"></i> Delete Standard
      </a>
    </div>
  </div>
</div>
